﻿.templatesAndOptions{
    margin: 5px auto; /* 15% from the top and centered */
    width: 350px;
    border-radius:10px;

}


.templates{
    margin-top:20px;
    display:inline-block;

}

.options{
    display:block;
    margin-top:30px

}

.eachTemplate
{
    color: #ffffff;
    font: 13pt Tahoma, sans-serif;
    margin-right:10px;
    margin-left:20px;
}

.options{
    border-top: 3px solid #7e7e7e;
}

#saveScheme {
    margin-left: 25%;
    margin-right: 25%;
    margin-top:10px;
}
