﻿.logostats{
    display:table;
    /*border-collapse:separate;*/
    /*height:auto;*/
    width:100%;
}

.logo {
	float: left;
    width: 30%;
    height: auto;
    display:table-cell;
    /*padding-right:14%;*/
    margin-left:10%;
 
}
.stats {
    width:60%;
    height:auto;
    display:table-cell; 
    float:right;
}


.MovieTitle{
    font: 30px 'Oswald', sans-serif;
    font-weight: 300;
    color: #fff;
    margin-top:0;
    text-align:center;
}

#okno {
            width: min-content;
            height:  min-content;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
}


.p2 { /*текстовый абзац*/
	margin: 20px 0;
    line-height: 0.5;
}

.description
{
    min-width:500px;
}

.marginsstats
{
    margin-right:20px;
    margin-bottom:20px;
    margin-top:-10px;
    width: max-content;
    padding-right:5px;
}

.fonttext
{
    font-size:13pt;

}