﻿body {
	color: 	#ffffff; /*цвет шрифта*/
	font: 12px Tahoma, sans-serif;
	background-color:  #fce5bf;
	/*border-top: 5px solid #7e7e7e;*/
	margin: 0;
}

p { /*текстовый абзац*/
	margin: 20px 0;
}

#wrapper {
	max-width: 1300px;
    min-width: 936px;
	margin: auto;
    
}

/*Тут сайдбар и карта*/

aside {
	float: left;
    width: 25%;
    height: auto;
    /*max-width:250px;*/
    display:table-cell;
    padding-right:14%;
 
}
section {
    width:auto;
    height:auto;
    display:table-cell; 
}

.aside+section{
    display:table;
    border-collapse:separate;
}


.fontlink
{
    color: #ffffff;
    font: 13pt Tahoma, sans-serif;
    text-align:center;
}

#movielabel{
text-decoration:underline;
}


/*Тут для меню и поиска*/


nav button {
	list-style-position: inside;
	font: 19px 'Oswald', sans-serif;
	padding: 10px;
}
/*Делает высоту "кнопоки" меню*/
nav .btn {
	text-decoration: none; 
    list-style-position: inside;
	font: 19px 'Oswald', sans-serif;
	padding: 10px;
}

nav
{
    border-radius:10px;
}

.error
{
    color: red;
    margin-right: 10px;
    font: 13pt Tahoma, sans-serif;
    float: right;
}

.top-menu button {
	display: inline-block;
	padding: 10px 30px;
	margin: 0;
}

.top-menu button.active {
	
	color: #fff;
    border-radius: 10px;
}

.top-menu .search {
    background: #C7D3F9 ;
    color: #fff;
}

.top-menu button.login {
	
	color: #fff;
    border-radius: 0 10px 10px 0;
    float:right;
}

#lblUser
{
    color: 	#ffffff;
	font: 13pt Tahoma, sans-serif;
    float: right;
    margin-top: 11px;
    margin-right: 20px;
}


.borderline{
    height: 30px;
}

.rounded
{
    border-radius:10px;
}

.greyborder
{
    border-right: 3px solid #7e7e7e;
    border-bottom: 3px solid #7e7e7e;
    border-top: 3px solid #7e7e7e;
    border-left: 3px solid #7e7e7e;

}


.color-inside
{
    background-color: #8BE5D3;
}

.color-inside-2
{
    background-color: #C7D3F9;
}

/*Отступ между годами и дауном*/
.rbtns
{
    margin-bottom: 1%;
}


#map
{
    width: auto;
    height: auto;  
    margin-top:10px;
    margin-bottom:5%;

}

#yearstyle
{
    margin-top:6px
}
/*Тут про картинку фильма*/

img{
    max-height:160px;
    max-width: 120px; 
}

figure {
	display: block;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
    margin: auto 60px;
    width:auto;
    height:auto;
}

figure img {

	border: 1px solid #7e7e7e;
	outline: 1px solid #c9c9c9;
}

figure figcaption {
	font-size: 16px;
	font-weight: 300;
	margin-top: 5px;
}

figure figcaption span {
	display: block;
	font-size: 14px;
	color: #29c5e6;
}

.marginleft{
    margin-left:10px;
}

.soundmargin
{
    margin-left:20px;

}

#switcherleft
{
     margin-left:10px;
}

.paddingright
{
    margin-left: 10px;
}



aside > h1 {
    font: 30px 'Oswald', sans-serif;
    font-weight: 300;
    color: #fff;
    /*margin: 10px 0 0 0;*/ /*вверх-вправо-вниз-влево*/
}




/* Тут про кнопку звука*/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}





/*СВИТЧЕР РЕЖИМОВ*/
/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.years
{
    /*width: auto;*/
    display: inline-block;
    margin-bottom: 6px;
    margin-right: 10px;
    margin-left:5px;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: /*#eee*/  #fff;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

#columns {
    width: auto;
    height: 100px;
}


#videoleft
{
     margin-left:10px;
}

.search-params div {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: auto;
    height: auto;
}

.search-params-select label { display: block; }

#button-search-block {
    margin-left: 10px;
    padding-bottom: 5px;
}

.search-result div {
    display: inline-block;
    vertical-align: top;
    width: auto;
    height: auto;
}

.result-film-poster {
    margin: 20px;
}

.result-film-info {
    max-width: 75%;
}

.result-film-rating {
    float: right;
    margin-right: 10px;
}

#recommendations li {
    margin-bottom: 5px;
}