﻿.tableAndControls
{
    margin: 5px auto; /* 15% from the top and centered */
    width: min-content; 
    background-color: white;
    border-radius:10px;
   
}
.userstable
{
    background-color:white;
    color:black;
    min-width:400px;
    width:auto;
    height:auto;
    align-content:center;
    margin-top:10px;
    margin-right:5px;
    margin-left:5px;
}

.lefttable
{
    float:left;
}

th
{
    /*width: auto;*/
}

.col1{
    width:50px;
}

.col2{
    width:auto;
}

.col3{
    width:100px;
}

.btnUsual
{
    /*padding:0;
    border-radius:5px;
    width:100px;*/

  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 6px 20px;
  margin: 5px 5px;
  border-radius: 10px;
  width: 125px;
  /*height: 25px;*/
  font: 15px Tahoma, sans-serif;
  color: white;

}

#deleteUsers
{
    float:right;
}

#Unban
{
    margin-left:4px;
    margin-right:7px;
}

.controls{
    display:inline-block;

}




